* {
    box-sizing: border-box;
}
body {
    background-color: darkgrey;
    background-image: url(IMG_9844.JPG);
    background-size: cover;
}
.navbar ul {
 margin: auto;
 height: 70px;
 background-color: white;
 border-radius: 20px;
}
.navbar li {
    display: inline-block;
}
.navbar b {
    margin-right: 30px;
    color: blue;
}
.navbar a {
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.navbar li b {
    color: white;
    display: inline-block;
    padding: 10px;
    justify-content: space-between;
    background-color: blue;
    margin-left: 500px;
}
h1 {
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-right: 100px;
}
h6 {
    text-align: center;
    margin-right: 100px;
    color: white;
}
button {
    background:blue;
    color: white;
    padding: 8px;
    border: none;
    width: 120px;
    margin-right: 120px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 70px;
}
section{
    background-color: white;
    text-align: center;
    height: 60px;
}
section a {
    text-decoration: none;
    background-color:lightskyblue;
    border-radius: 2px;
}
section h4 {
    font-family: sans-serif;
}
.grid-container {
    background-color:gray;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}   
.grid-box-1 {
    background-color: aqua;
    height: 200px;
}
.grid-box-2 {
    height: 200px;
    width: 200px;
    background-color: white;
}
.grid-box-3 {
    background-color: blanchedalmond;
    height: 200px;
}